<p>Hi {{name}},</p>
<p>Your exam is scheduled. Please join take the exam on time </p>
<p>Name: {{examName}}</p>
<p>Description: {{description}}</p>
<p>Number of questions: {{numOfQuestion}}</p>
<p>Start time: {{startTime}}</p>
<p>End time: {{endTime}}</p>
<p>
  <a href="{{magicLink}}">Go to Exam</a>
</p>
<p>If you did not request this email you can safely ignore it.</p>
<p>Regards</p>